/* Color Palette
# - #F2EFE9 Isabeline
# - #C20114 Red
# - #0D0628 Dark Purple
# - #002066 Royale Blue (traditional) 
# - darkstaleblue
# - black
# - font-family: "Quintessential", serif;
# - font-family: "DM Serif Text", serif;
*/

/* Global styles 
------------------------------------*/
html{
    box-sizing: border-box;
} 
*, *:before, *:after {
    box-sizing: inherit;
}
.content-wraper {
    overflow: hidden;
    max-width: 950px;
    margin: auto;
    padding: 50px;
}
.column-narrow {
    width: 30%;
    float: left;
    padding-right: 3%;
    min-height: 175px;
}
.column-wide {
    width: 70;
    float: left;
    min-height: 225px;
}
body {
    background: #F2EFE9;/*background: lightblue;*/
    margin: 0;
}


/* Header & Footer 
------------------------------------*/
header {
    .profile-tag {
       /* margin-right: 30px;
        width: 300px;
        float: left; */
        border-radius: 50%;
    }

    h1 {
        font-size:50px;
        font-family: "Quintessential", serif;
        font-weight: 1300;
        margin: 0;
        color:#0D0628;
    }
    h2 {
        margin: 0;
        font-size:30px;
        font-family: "Quintessential", serif;
        color:#002066;
    }
    p {
        font-size:16px;
        font-family: "DM Serif Text", serif;
        font-weight: 300;
        color:#0D0628;
    }
}

footer {
    text-align: center;

    p2 {
        font-size:16px;
        font-family: "DM Serif Text", serif;
        color: #C20114;
    }
}


/* Work Experience
------------------------------------*/
.Work_exp {
    max-width: 950px;
    margin: 0 auto;
    padding: 50px;

    h2 {
        margin: 0;
        font-size:35px;
        font-family: "Quintessential", serif;
        color:#0D0628;
    }

    h3 {
        font-size:25px;
        font-family: "Quintessential", serif;
        color:#002066;
    }

    .Job_name {
        font-size:20px;
        font-family: "DM Serif Text", serif;
        color:#C20114;
    }

    .Date {
        font-size:16px;
        font-family: "DM Serif Text", serif;
        color:darkslateblue; 
    }

    .Sum {
        font-size:16px;
        font-family: "DM Serif Text", serif;
        font-weight: 300;
        color:black;
    }

}


/* Education
------------------------------------*/
.Ed {
    max-width: 950px;
    margin: 0 auto;
    padding: 50px;
    
    h2 {
        margin: 0;
        font-size:35px;
        font-family: "Quintessential", serif;
        color:#0D0628;
    }

    h3 {
        font-size: 25px;;
        font-family: "Quintessential", serif;
        color:#002066;
    }
    .bs {
        font-size:20px;
        font-family: "DM Serif Text", serif;
        color:#C20114;
    }

    .course {
        font-size:16px;
        font-family: "DM Serif Text", serif;
        font-weight: 300;
        color:black
    }
}

/*------  Contact Info  ------------*/
.contact-info {
    padding: 10px;
    display: inline-block;
}
